@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$font-stack: "Roboto", sans-serif;
$primary-color: rgba(228, 193, 174, 1);
$background-primary-color: rgba(255, 255, 255, 1);
$background-secondary-color: rgba(18, 18, 18, 0.5);

@mixin fontProps($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin buttonProps() {
  background-color: $primary-color;
  border: none;
  border-radius: 32px;
  color: #ffffff;
  width: 128px;
  height: 48px;
}

@mixin buttonHoverProps() {
  cursor: pointer;
  background-color: #ffffff;
  border: solid;
  border-color: $primary-color;
  border-radius: 32px;
  border-width: 1px;
  color: $primary-color;
}

@mixin flexCenter() {
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  color: rgba(18, 18, 18, 1);
}

body {
  background-color: $background-primary-color;

  div.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-secondary-color;
    z-index: 2;
    @include flexCenter();

    div.popup {
      position: absolute;
      top: 375px;
      left: auto;
      width: 920px;
      height: 210px;
      background-color: $background-primary-color;
      z-index: 2;

      button#popup-close-button {
        border: none;
        width: 24px;
        height: 24px;
        background-color: $background-primary-color;
        @include fontProps(24px, 700);
        position: relative;
        left: 850px;
        top: 40px;
      }
      button#popup-close-button:hover {
        cursor: pointer;
      }

      header {
        @include fontProps(42px, 700);
        width: 380px;
        height: 50px;
        margin-top: 56px;
        margin-left: 95px;
        position: relative;
        bottom: 22px;
      }
      p {
        @include fontProps(16px, 300);
        line-height: 24px;
        margin-top: 24px;
        margin-left: 95px;
        width: 380px;
        position: relative;
        bottom: 22px;

        span#counter {
          font-weight: 700;
        }
      }
      button#reset-counter-button {
        @include fontProps(16px, 700);
        @include buttonProps();
        position: relative;
        left: 500px;
        bottom: 58px;
        visibility: hidden;
      }
      button#reset-counter-button:hover {
        @include buttonHoverProps();
      }
    }
  }

  main {
    section {
      display: flex;
      position: relative;
      top: 96px;
      width: 1440px;
      margin-bottom: 50px;
      img {
        width: 505px;
        height: 330px;
        margin-left: 230px;
      }
      article {
        width: 380px;
        margin-left: 95px;

        header {
          @include fontProps(42px, 700);
          height: 50px;
          margin-top: 40px;
        }
        p {
          @include fontProps(16px, 300);
          line-height: 24px;
          margin-top: 24px;
          margin-bottom: 32px;
        }
        button {
          @include fontProps(16px, 700);
          @include buttonProps();
        }
        button:hover {
          @include buttonHoverProps();
        }
      }
    }
  }
}

@media only screen and (min-width: 1441px) {
  main {
    display: flex;
    flex-direction: column;
    @include flexCenter();
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1340px) {
  body main {
    section {
      width: 100vw;
      img {
        margin-left: 10vw;
        margin-top: 3vw;
        width: 40vw;
        height: auto;
        
      }
      article {
        margin-left: 5vw;
        margin-right: 10vw;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body div.overlay div.popup {
    top: auto;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button#popup-close-button {
      left: 30vw;
    }
    header {
      font-size: 36px;
      width: 60vw;
      margin-left: 40px;
      margin-right: 30px;
    }
    p {
      font-size: 16px;
      width: 60vw;
      margin-left: 40px;
      margin-right: 30px;
    }
    button#reset-counter-button {
      bottom: 60px;
      left: 160px;
    }
  }

  body main {
    section {
      flex-direction: row;
      @include flexCenter();
      width: 90vw;
      margin-left: 40px;
      margin-right: 40px;
      img {
        width: 40vw;
        height: auto;
        margin: auto;
      }
      article {
        width: 35vw;
        margin: 0px 0px 0px 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        header {
          font-size: 36px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  body div.overlay div.popup {
    top: auto;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button#popup-close-button {
      left: 30vw;
    }
    header {
      font-size: 28px;
      width: 60vw;
      margin-left: 40px;
      margin-right: 30px;
    }
    p {
      font-size: 14px;
      width: 60vw;
      margin-left: 40px;
      margin-right: 30px;
    }
    button#reset-counter-button {
      bottom: 0px;
      left: 0px;
      margin-bottom: 20px;
    }
  }

  body main {
    section {
      flex-direction: row;
      @include flexCenter();
      width: 100vw;
      margin-left: 40px;
      img {
        width: 40vw;
        height: auto;
        margin: auto;
      }
      article {
        width: 35vw;
        margin: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        header {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  body div.overlay div.popup {
    top: auto;
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button#popup-close-button {
      left: 30vw;
    }
    header {
      font-size: 28px;
      width: 70vw;
      margin-left: 40px;
      margin-right: 30px;
    }
    p {
      font-size: 14px;
      width: 70vw;
      margin-left: 40px;
      margin-right: 30px;
    }
    button#reset-counter-button {
      bottom: 0px;
      left: 0px;
      margin-bottom: 20px;
    }
  }

  body main {
    section {
      flex-direction: column;
      @include flexCenter();
      width: 100vw;
      img {
        width: 60vw;
        height: auto;
        margin-left: auto;
      }
      article {
        width: 80vw;
        margin: 0px 20px;
        display: flex;
        flex-direction: column;
        @include flexCenter();

        header {
          font-size: 28px;
          margin-top: 20px;
          height: 40px;
        }
        p {
          font-size: 14px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
